apiVersion: apps/v1
kind: Deployment
metadata:
  name: chat-service-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: chat-service
  template:
    metadata:
      labels:
        app: chat-service
    spec:
      containers:
        - name: chat-service
          image: connext-chat-service:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8082
          envFrom:
            - configMapRef:
                name: app-config
            - secretRef:
                name: app-secret
            - secretRef:
                name: mongodb-secret
          env:
            - name: CHAT_ADDR
              value: ":8082"
---
apiVersion: v1
kind: Service
metadata:
  name: chat-service-svc
spec:
  selector:
    app: chat-service
  ports:
    - protocol: TCP
      port: 8082
      targetPort: 8082